@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Varela+Round&display=swap");

* {
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
}

.min-heigt {
    min-height: 70vh;
}

.status-box {
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 5px;
    display: inline-block;
}

.status-active {
    background-color: #63b25a;
    color: white;
}

.status-inactive {
    background-color: #dc3545;
    color: white;
}

.card {
    border-radius: 20px;
}

span {
    font-size: 18px;
}

<<<<<<< HEAD
#payButton {
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #597db6;
    color: white;
    border: none;
    /* padding: 10px 30px;  */
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#payButton:hover {
    background-color: #a66e38;
}
=======
@media (max-width: 768px) {
    .history-detail {
        display: none !important;
    }
}
>>>>>>> 68cb335e6b12c5694cbc1b2ed14a401e394ffeff
