@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Yeseva+One&display=swap');

.col {
    padding-top: 138px;
    text-align: center;
    height: 596px;
    background-color: #637A9F;
}

.col:last-child {
    padding: 0; 
    display: flex;
}


.col:last-child img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
}

.col h1{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #FFF3CF;
}

.col h2{
    font-size: 18px;
    color: #FFF3CF;
}

.mt-4 a{
    border-radius: 40px;
    width: 191px;
    height: 74px;
    text-align: center;
    line-height: 55px;
    display: inline-block;
    background-color: #E8C872;
    outline: none;
    border: none;
    color: #705338;
    font-family: "Baloo 2", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.mt-4 a:focus,
.mt-4 a:hover {
    outline: none; 
    border: none; 
    background-color: #d9b864; 
    color: #60482f; 
}

.fitur {
    background-color: #e8c872; 
    padding: 50px;
    font-family: "Varela Round", sans-serif;
}
  
.header {
    text-align: right;
    margin-left: 40px;
}
  
.title {
    font-family: "Yeseva One", serif;
    font-size: 70px;
    line-height: 1.2;
    margin-bottom: 10px;
}
  
.subtitle {
    font-size: 18px;
    font-weight: 400;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 20px;
    background-color: #e8c872; 
}

.icon {
    margin-bottom: 10px;  
    height: 100px;
    width: 130px;
}
  
.card {
    background-color: #f8f9f9;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
}
  
.card-title {
    font-size: 32px;
    color: #a66e38;
    margin-bottom: 15px;
    font-family: "Baloo 2", sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
}
  
.card-description {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
    font-family: "Varela Round", sans-serif;
    color: #000;
}

.card a {
    text-decoration: none; 
    color:#705338; 
    font-weight: bold; 
    font-family: "Baloo 2", sans-serif; 
    font-size: 20px;
}
  
.card a:hover {
    color: #e8c872; 
    text-decoration: underline; 
}

.about-us-home {
    position: relative;
    background-color: #f8f9f9;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    height: 680px;
    padding-top: 200px;
}
  
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
.about-us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
  
.text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.welcome-text {
    font-family: "Yeseva One", sans-serif;
    font-size: 40px;
    color: #000;
}
  
.highlight {
    color: #705338;
}
  
.description {
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    color: #000;
}
  
.cta {
    display: flex;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 558px; /* Sesuai ukuran desain */
    height: auto;
    border-radius: 41px;
    object-fit: cover;
    padding-left: 50px;
}
  
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8c872;
    border-radius: 40px;
    width: 212px;
    height: 74px;
    font-family: "Baloo 2", sans-serif;
    font-size: 20px;
    color: #705338;
    cursor: pointer;
    font-weight: 800;
    font-style: normal;
}

span a{
    font-family: "Baloo 2", sans-serif;
    font-size: 20px;
    color: #705338;
    text-decoration: none;
}
  
.button img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
  
@media (max-width: 768px) {
    .col {
        padding-top: 50px;
        height: auto;
    }

    .col h1 {
        font-size: 30px;
    }

    .col h2 {
        font-size: 10px;
    }

    .mt-4 a {
        width: 150px;
        height: 60px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .fitur {
        padding: 20px;
        background-color: #E8C872;
        background-size: cover;
        background-position: center;
    }

    .header {
        text-align: center;
    }

    .title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 16px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
    }

    .icon {
        height: 80px;
        width: 100px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-description {
        font-size: 14px;
    }

    .card a {
        font-size: 16px;
    }

    .about-us-home {
        padding: 20px;
        height: auto;
        padding-top: 50px;
    }

    .about-us-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        text-align: center;
    }

    .welcome-text {
        font-size: 24px;
    }

    .description {
        font-size: 16px;
    }

    .image {
        max-width: 300px;
        padding-left: 0;
        margin-top: 20px;
    }

    .button {
        width: 150px;
        height: 50px;
    }

    span a {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .col {
        padding-top: 138px;
        height: 596px;
    }

    .col h1 {
        font-size: 60px;
    }

    .col h2 {
        font-size: 18px;
    }

    .mt-4 a {
        width: 191px;
        height: 74px;
        line-height: 55px;
    }

    .fitur {
        gap: 30px;
        align-items: center; 
        padding: 50px;
        display: flex;
        background-size: cover;
        background-position: center;
    }

    .header {
        text-align: left;
        margin-top: 100px;
    }

    .title {
        font-size: 70px;
    }

    .subtitle {
        font-size: 18px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        grid-gap: 10px;
    }

    .icon {
        height: 100px;
        width: 130px;
    }

    .card-title {
        font-size: 32px;
    }

    .card-description {
        font-size: 15px;
    }

    .card a {
        font-size: 20px;
    }

    .about-us-home {
        padding: 50px;
        height: 680px;
        padding-top: 200px;
    }

    .about-us-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        align-items: center;
    }

    .text-content {
        text-align: left;
    }

    .welcome-text {
        font-size: 40px;
    }

    .description {
        font-size: 20px;
    }

    .image {
        max-width: 558px;
        padding-left: 50px;
    }

    .button {
        width: 212px;
        height: 74px;
    }

    span a {
        font-size: 20px;
    }
}

