.payment-detail {
    border: 2px solid #637A9F;
    border-radius: 8px;
    padding: 20px;
    margin: 5rem auto;
    background-color: #f8f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 400px;
    text-align: center; 
}

h1 {
    font-size: 32px;
    margin-bottom: 12px;
}

p {
    color: rgb(158, 151, 151);
    font-size: 18px;
    margin: 5px 0;
}

.price{
    color: black;
    margin-top: 15px;
    font-weight: 700;
}

#payButton {
    background-color: #637A9F;
    color: white;
    border: none;
    padding: 10px 30px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    font-weight: 800;
    margin-top: 15px;
    cursor: pointer; 
    border-radius: 10px; 
    transition: background-color 0.3s; 
}

#payButton:hover {
    background-color: #a66e38;
}