@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Varela+Round&display=swap");

* {
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f4f9;
    min-height: 100vh;
}

main.content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
    min-height: 60vh;
    padding: 20px;
    box-sizing: border-box;
}

.containers {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 5px;
}

.tracking-manager {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    height: 27rem;
    margin: 5px;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.headers h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.headers p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
}

.step,
.step-loop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    position: relative;
    z-index: 2;
}

.line {
    width: 4px;
    height: 30px;
    background-color: #ccc;
    position: relative;
    z-index: 1;
    margin-top: 5px;
}

.step p,
.step-loop p {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
    color: #555;
}

.loop-desc {
    border-top: 0;
    margin-top: 0;
}

.step-loop img {
    width: 90%;
    max-width: 600px;
    object-fit: cover;
    max-height: 300px;
    margin: 10px;
}

.order-info {
    border-top: 2px solid #eee;
    padding-top: 10px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.info-row p {
    margin: 0;
    font-size: 14px;
    color: #555;
    flex: 1;
}

.info-row .right {
    color: #333;
    text-align: right;
    width: 150px;
}

.icon {
    margin-right: 8px;
    font-size: 16px;
    color: #2196f3;
}

.tracking-manager form {
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.tracking-manager select,
.tracking-manager textarea,
.tracking-manager input {
    border-radius: 1rem;
    background-color: #eeeeee;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.tracking-manager input:focus,
.tracking-manager textarea:focus {
    outline: none;
}

.tracking-manager textarea {
    height: 5rem;
    resize: none;
}

.tracking-manager button {
    width: 20%;
    min-width: 100px;
    margin-top: 1rem;
    background-color: #637a9f;
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 1rem;
}

.button-container {
    display: flex;
    align-items: center; /* Align vertically */
}

#loadingIndicator {
    display: flex;
    align-items: center;
}

.spinner {
    border: 2px solid transparent;
    border-top: 2px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-left: 5px; /* Space between the button and spinner */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.custom-file-input::-webkit-file-upload-button {
    display: none;
}

.custom-file-input::before {
    content: "Upload image";
    background-color: white;
    border-radius: 0.7rem;
    padding: 0.4rem;
    outline: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
    main.content {
        flex-direction: column-reverse;
        align-items: center;
    }
}
